Source: itk
Version: 4.13.0
Description: Insight Segmentation and Registration Toolkit (ITK) is used for image processing and analysis.
Build-Depends: double-conversion, libjpeg-turbo, zlib, libpng, tiff, expat
Default-Features: dcmtk, opencv

Feature: dcmtk
Build-Depends: dcmtk
Description: dcmtk support

Feature: vtk
Build-Depends: vtk
Description: vtk support 

Feature: opencv
Build-Depends: opencv
Description: opencv support 
